req = """streamlit
scikit-learn
pandas
numpy
matplotlib
seaborn
requests
joblib
"""

with open('/content/drive/MyDrive/requirements.txt', 'w') as f:
    f.write(req)

from google.colab import files
files.download('/content/drive/MyDrive/requirements.txt')
